
model/
checkpoints/
ner_rubert/checkpoint-*/


ner_rubert/checkpoint-*/tokenizer_config.json
ner_rubert/checkpoint-*/tokenizer.json
ner_rubert/checkpoint-*/trainer_state.json
ner_rubert/checkpoint-*/training_args.bin
ner_rubert/checkpoint-*/vocab.txt
ner_rubert/checkpoint-*/config.json
ner_rubert/checkpoint-*/model.safetensors
ner_rubert/checkpoint-*/special_tokens_map.json

__pycache__/
*.pyc

*.pkl
*.h5
*.pt
*.pth


.env

*.log
*.tmp
